*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;

}
body
{
    width: 100vw;
    height: 100vh;
}
nav
{
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    

}
nav::before {
    content: "";
    z-index: -1;
    background-color: black;
    opacity: 0.9;
    height: 100px;
    width: 99.2%;
    position: absolute;
    top: 0px;
    left: 0px;
    box-shadow: 10px 10px 10px teal;
    border-radius: 17px;
}
#icon
{
    width: 10%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}
#icon img
{
    width: 56px;
    height: 63px;
}
#icon h6
{
    font-size: 1.0rem;
    margin:5px 5px;
    font-style: italic;
    font-weight: bold;
    color: burlywood;
    text-align: center;
    text-shadow: 2px 2px 2px teal;
}
#main::before
{
    content: "";
    z-index: -1;
    background: url('assets/bg2.jpg') no-repeat center center/cover;
    background-color: white;
    opacity: 0.4;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0px;
    left: 0px;
}
#main
{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}
#myCanvas
{
    margin: 0px 0px;
    border-radius: 23px;
    box-shadow: 10px 10px 10px teal;
    border: 2px solid black;
    position: fixed;
}
#entry
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 40px 40px;
    width: 50%;
    height: 200px;

}
#entry input
{
    width: 100%;
    height: 50px;
    margin: 20px 10px;
    padding: 4px 24px;
    text-align: center;
    font-size: 1.6rem;
    border-radius: 0px 5px 5px 0px;
    box-shadow: 2px 2px 2px teal;
    border: none;
    color: teal;
    background-color: #ffc7849e;
    font-weight: bold;
    font-style: italic;
    
}
input:focus
{
    outline: none;
}
.btn
{
    width: 100px;
    height: 50px;
    text-align: center;
    font-size: 1.6rem;
    border-radius: 15px;
    color: teal;
    background-color: #0bc59996;
    border: none;
    box-shadow: 2px 2px 2px black;
    font-weight: bold;
    font-style: italic;
    margin: 0px 10px;
}

#options
{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
flex-wrap: wrap;
}
.colors
{
    display: flex;
    flex-direction: row;
    margin: 0px;
    padding: 0px;
    position: absolute;
    top: 2px;
    left: 20px;
}

#red
{
    margin: 0px 3px;
    background-color: red;
    width: 40px;
    height: 40px;
    border: 2px solid red;
    
}
#blue
{
    margin: 0px 3px;
    background-color: blue;
    width: 40px;
    height: 40px;
    border: 2px solid blue;
    
}

#green
{
    margin: 0px 3px;
    background-color: green;
    width: 40px;
    height: 40px;
    border: 2px solid green;
    

}
#black
{
    margin: 0px 3px;
    background-color: black;
    width: 40px;
    height: 40px;
    border: 2px solid black;
    
}
#white
{
    margin: 0px 3px;
    background:url('assets/eraser.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 40px;
    height: 40px;
    border: 2px solid white;
}

.colorOptions
{
    z-index: 2;
}