*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Tempus Sans ITC;

}




body{
    height: 100vh;
    width: 100vw;
}



nav
{
    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}

nav a{
    flex-direction: row;
    color: azure;
    text-align: center;
    text-decoration: none;
    padding: 20px;
    font-size: 1.6em;
    margin-right: 10px;
    border-radius: 2px;
}

nav a:hover{
   /* background-color: #ddd;*/
    color: black;
    cursor: pointer;
}


nav::before {
    content: "";
    z-index: -1;
    background-color: black;
    opacity: 0.9;
    height: 80px;
    width: 99.2%;
    position: absolute;
    top: 0px;
    left: 2px;
    border-radius: 17px;
}
#icon
{
    width: 10%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

#icon img
{
    width: 56px;
    height: 56px;
    
}
#icon h6
{
    font-size: 1.0rem;
    margin:5px 5px;
    font-style: italic;
    font-weight: bold;
    color: burlywood;
    text-align: center;
    text-shadow: 2px 2px 2px teal;
}






#main_game::before
{
    content: "";
    z-index: -1;
    background: url('assets/bg2.jpg') no-repeat center center/cover;
    opacity: 0.4;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0px;
    left: 0px;
}
/* #main
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: right;
} */




#myCanvas
{   
    margin: 0px 0px;
    border-radius:0px 23px 23px 0px;
    position: fixed;
    border:2px solid black;
    box-shadow: 5px 5px 0px 0px grey ;
}

.colors {
    position: relative;
    top: 0px;
    left: 10px;
    z-index: 2;
  }
  
  
  
  .color {
    display: inline-block;
    height: 48px;
    width: 48px;
    border: 2px solid black;
    margin: 5px;
  }
  
  .color.black { background-color: black; }
  .color.red { background-color: red; }
  .color.green { background-color: green; }
  .color.blue { background-color: blue; }
  .color.yellow { background-color: yellow; }
  .color.white { background:url('assets/eraser.png');
background-repeat: no-repeat;
background-position: center;
background-size: cover; }






/* form{
    background: #000;
    padding: 3px;
    position: fixed;
    bottom: 5px;
    width: 30%;
    right: 10px;
}

form input{
    border: 0; padding: 5px; width: 90%; margin-right: 0.5%; 
}

form button{
    width: 9%; background: rgb(130, 224, 255); border: none; padding: 5px; 
}

form button:hover{
    background-color: blue;
}



#messages{
    list-style-type: none; margin: 0; padding: 0;
}

#messages li{
    padding: 5px 10px;
}

#messages li :nth-child(odd){
    background: #eee;
} */


#main_game
{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}

#main_landing
{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}



#entry
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 40px 40px;
    width: 50%;
    height: 200px;

}



.info
{
    width: 100%;
height: 50px;
margin: 20px 10px;
padding: 4px 24px;
text-align: center;
font-size: 1.6rem;
border-radius: 20px 20px 20px 20px;
box-shadow: 2px 2px 2px teal;
border: none;
color: gray;
background-color: lightyellow;
opacity: 0.7;
outline: none;

}



.btn
{
    width: 100px;
height: 50px;
text-align: center;
font-size: 1.6rem;
border-radius: 15px;
color: black;
background-color: #bd5151d1;
border: none;
box-shadow: 2px 2px 2px black;
margin: 0px 10px;
}

.btn:hover{
    background-color: coral;
    cursor: pointer;
}



#main_landing::before
{
    content: "";
    z-index: -1;
    background: url('assets/bg1.jpg') no-repeat center center/cover;
    opacity: 0.5;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0px;
    left: 0px;
}